

<div class="col-md-3 bg-grey px-0">
    <h3 class="text-center my-5">Employer</h3>
    <div class="text-center">
        <img src="/Images/About_pic_3.png" alt="" width="150">
    </div>
    <h4 class="text-center my-3">Kaleen Bhaiya</h4>
    <div class="d-flex flex-column align-items-center w-100">
        <a class=" btn btn-primary w-75 my-2" href="/EmployerProfile">Profile Information</a>
        <a class=" btn btn-primary w-75 my-2" href="/PostedJobs">Posted Jobs</a>
        <a class=" btn btn-primary w-75 my-2" href="/PostJob">Post a Job</a>
        <a class=" btn btn-primary w-75 my-2" href="/RecievedApplications">Received Applications</a>
        <a class=" btn btn-primary w-75 my-2" href="/AcceptedApplications">Accepted Applications</a>
    </div>
</div>

@code {

}
