
<div class="footer-section">
    <div class="footer-content pt-5 pb-5">
        <div class="row mx-0 Justify-content-center">
            <div class="col-xl-2 col-lg-2">
                <div class="footer-widget">
                    <div class="footer-logo text-center">
                        <a>
                            <img alt="logo" class="img-fluid" src="/Images/Logo_SmartWork.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                <div class="footer-widget">
                    <div class="footer-widget-heading">
                        <h3>About SWI</h3>
                    </div>
                    <ul>
                        <li><a [routerLink]="['/users/about']">About us</a></li>
                        <li><a [routerLink]="['/users/contact']">Contact</a></li>
                        <li><a [routerLink]="['/users/links']">Links</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                <div class="footer-widget">
                    <div class="footer-widget-heading">
                        <h3>Candidate</h3>
                    </div>
                    <ul>
                        <li><a [routerLink]="['/users/candidate']">Find jobs</a></li>
                        <li>
                            <a [routerLink]="['/users/register']">Account</a>
                        </li>
                        <li><a [routerLink]="['/users/faq']">Help Point</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                <div class="footer-widget">
                    <div class="footer-widget-heading">
                        <h3>Employer</h3>
                    </div>
                    <ul>
                        <li><a [routerLink]="['/users/employee']">Find workers</a></li>
                        <li>
                            <a [routerLink]="['/users/register']">Account</a>
                        </li>
                        <li><a [routerLink]="['/users/faq']">Help Point</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                <div class="footer-widget">
                    <div class="footer-widget-heading">
                        <h3>Legal</h3>
                    </div>
                    <ul>
                        <li><a [routerLink]="['/users/impressum']">Impressum</a></li>
                        <li>
                            <a [routerLink]="['/users/terms-of-use']">Terms of use</a>
                        </li>
                        <li>
                            <a [routerLink]="['/users/privacy-policy']">Privacy Policy</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row Justify-content-center">
            <div class="col-md-7 text-center">
                <div class="footer-social-icon mx-lg-5 mx-md-3 mx-1">
                    <a><img alt="" src="/Images/icon.png"></a>
                </div>
                <div class="footer-social-icon mx-lg-5 mx-md-3 mx-1">
                    <a href="javascript:void(0)"><img alt="" src="/Images/icon (1).png"></a>
                </div>
                <div class="footer-social-icon mx-lg-5 mx-md-3 mx-1">
                    <a href="javascript:void(0)"><img alt="" src="/Images/icon (2).png"></a>
                </div>
                <div class="footer-social-icon mx-lg-5 mx-md-3 mx-1">
                    <a href="javascript:void(0)"><img alt="" src="/Images/icon (3).png"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area py-lg-4">
        <div class="container">
            <div class="row Justify-content-center">
                <div class="col-xl-10 col-lg-10 col-md-12 text-center ">
                    <div class="copyright-text">
                        <p>&copy;2021 - Online Job Portal. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
