@inject HttpClient Http
@using OnlineJobPortal.Shared
@inject NavigationManager Navigation

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="./Home.html" style="font-size: 25px;">
        <i class="fas fa-address-card align-top mr-1" style="font-size: 40px; color: #008fdc;"></i>
        Online Job Portal
    </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Home">Home <span class="sr-only">(current)</span></a>
            </li>
            <AuthorizeView>
                <NotAuthorized>
                    <li class="nav-item">
                        <a class="nav-link" href="/Employer">Employer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Candidate">Candidate</a>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
            <AuthorizeView Roles="Candidate">
                <li class="nav-item">
                    <a class="nav-link" href="/CandidateProfile">Profile</a>
                </li>
            </AuthorizeView>
            <AuthorizeView Roles="Employer">
                <li class="nav-item">
                    <a class="nav-link" @onclick="getID" href="/EmployerProfile/@EMPID">Profile</a>
                </li>
            </AuthorizeView>
            <li class="nav-item">
                <a class="nav-link" href="/FAQ">FAQ</a>
            </li>

            <li class="nav-item mr-4">
                <a class="nav-link" href="/AboutUs">About Us</a>
            </li>
            <AuthorizeView>
                <NotAuthorized>
                    <li class="nav-item mx-3">
                        <a class=" btn btn-outline-primary " href="authentication/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class=" btn btn-primary " href="authentication/register">Sign Up</a>
                    </li>
                </NotAuthorized>
                <Authorized>
                    <a class=" btn btn-outline-primary " href="Identity/Account/Logout">Logout</a>
                </Authorized>
            </AuthorizeView>
        </ul>

    </div>
</nav>


@code {
    private Employer[] employer;
    [Parameter] public int EMPID{ get; set; }
    private async Task getID()
    {
        employer = await Http.GetFromJsonAsync<Employer[]>("/api/Employer");
        foreach(var emp in employer)
        {
            if(emp.Email== GlobalVar.emaill)
            {
                EMPID = emp.Id;   
            }
        }
    }
    
}
