
@page "/Candidate";

<Navbar></Navbar>


<div class="slogan-candidate">
    <button id="goTopButton" class="goToTopButton"><i class="fas fa-arrow-circle-up text-white"></i></button>
    <div class="d-none d-md-flex h-100 flex-column justify-content-end padding-bottom-60 padding-left-50 text-uppercase">
        <div class="inner-slogan">
            <div>You are talent?<br>Meet your employer</div>
        </div>
    </div>
    <div class=" d-md-none p-5 d-flex justify-content-center text-uppercase">
        <div class="inner-slogan w-90 m-0">
            <div>You are talent?<br>Meet your employer</div>
        </div>
    </div>
</div>


<!--
  <div class="slogan-candidate">
    <div class="row mx-0 Justify-content-start">
        <div class="col-md-4 pl-lg-4 pt-lg-4">
            <div class="inner-slogan"><div>You are talent? <br> Meet your employer</div></div>
        </div>
    </div>
  </div> -->
<!-- <div class="container lg-contain px-0">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-xl-12">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 class="pt-5 font-weight-boldest font-size-40 blue-text-dark">Stay in Process</h4>
                        <p class="py-3 font-size-20">Sint nulla facilisi auctor diam ducimus, at irure! aliquip anim</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-12 text-center">
                        <img src="assets/smart-work/Vektor-Smartobjekt.png" class="w-65 py-3">
                    </div>
                </div>
                <div class="row justify-content-around text-center">
                    <div class="col-md-3 col-lg-2 col-xl-4">
                        <h5 class="py-3 py-lg-5">Präsentieren Sie sich den Firmen in Ihren besten Licht.Zeigen Sier Ihr CV.</h5>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-4">
                        <h5 class="py-3 py-lg-5">Senden Sie Ihr Gesamtpaket und bewerben Sie sich.Sie werden gefunden oder finden Sie Ihr Wunschjob.</h5>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-4">
                        <h5 class="py-3 py-lg-5">Lassen Sie sich nach einem Bewerbungsgespräch einstellen und verdienen Sie sich Ihren Lohn.</h5>
                    </div>
                </div>
            </div>
        </div>
  </div> -->


<div class="my-5">
    <div class="container px-0">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 _ngcontent-vbc-c5=""
                            class="font-weight-boldest font-size-30pt blue-text-dark text-uppercase ">
                            Appear in the job market
                        </h4>
                        <p class="py-5 padding-bottom-60 font-size-16pt">Always be present for candidates</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mx-5">
        <div class="col-md-3 col-sm-6 text-center">
            <img alt="" class=" width-170" src="/Images/registeryourprofile.png">
            <h4 class="card-heading-margin">
                Register Your Profile
            </h4>
            <p class="text-left padding-left-right-50 font-size-12pt">
                Present yourself to companies in your best light. Show your CV.
            </p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img alt="" class=" width-170" src="/Images/apply.png">
            <h4 class="card-heading-margin">Apply</h4>
            <p class="text-left padding-left-right-50 font-size-12pt">
                Submit your complete package and apply. You will be found or you will find your dream job.
            </p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img alt="" class=" width-170" src="/Images/enjoyyourwork.png">
            <h4 class="card-heading-margin">Enjoy Your Work</h4>
            <p class="text-left padding-left-right-50 font-size-12pt">
                Get recruited after an interview and earn your wages.
            </p>
        </div>
    </div>

</div>


<div class="row mx-0 text-center">
    <div class="col-md-6 col-12 py-3 px-0 first">
        <div class="row  Justify-content-center">
            <div class="col-md-12 col-lg-11 py-5">
                <h4 class="font-weight-600 font-size-30pt"> Why SWI</h4>
                <p class="pt-5 font-size-14pt">
                    Don't miss any more jobs. Set up your application easily. Show your skills and present yourself
                    in the best possible light. Be inspired by our APP and look for jobs that suit your skills. Our
                    tools will help you get the most out of your job search. Set alerts to receive suitable
                    vacancies daily via messenger or email. With our sophisticated Artificial Intelligence "AI",
                    suitable employers will be suggested to you. The "KI" also automatically sends your resume to
                    the appropriate employer.
                </p>
                <p class="py-2 py-lg-5 font-size-16pt">
                    Let us send you personalized job offers that match your skills, availability and location
                    preferences. Make your own decision about flexible and varied jobs.
                </p>
                <p class="pb-lg-5 font-size-16pt">
                    You get fair working conditions and you are covered by social security while you are hired. Wage
                    payment modes can be negotiated if necessary.
                </p>
            </div>
        </div>

    </div>


    <div class="col-md-6 col-12 col-xl-6 px-0 bg-white">

        <div class="row Justify-content-center py-5">
            <div class="col-md-12 text-center">
                <div class="blue-text-dark mb-5 pb-5 font-size-30pt font-weight-600">
                    Become a Success Employers
                </div>
            </div>
            <div class="col-md-12 col-lg-10 col-10  pb-md-0 pb-4">
                <div class="">
                    <img class="w-80" src="/Images/comparison.png">
                </div>
            </div>
        </div>

        <div class="row justify-content-center button-div mx-0 bg-white">
            <div class="col-8 col-xl-5">
                <a class=" btn btn-default d-block py-4" href="javascript:void(0)"
                   [routerLink]="['/users/register']">
                    <span class="text-white font-weight-500 font-size-18pt">REGISTER NOW</span>
                </a>
            </div>
        </div>

    </div>
</div>



<div class="blue-banner text-white d-flex flex-column justify-content-center">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row justify-content-around text-center  py-md-3 py-lg-5 py-80">
                    <div class="col-md-3  my-4 mb-md-0">
                        <h4 class="mb-2 font-weight-normal">21568</h4>
                        <h4 class="font-weight-light mb-0">Jobs Posted</h4>
                    </div>
                    <div class="col-md-3  my-4 mb-md-0">
                        <h4 class="mb-2 font-weight-normal">10214</h4>
                        <h4 class="font-weight-light mb-0">Companies</h4>
                    </div>
                    <div class="col-md-3  my-4 mb-md-0">
                        <h4 class="mb-2 font-weight-normal">3502</h4>
                        <h4 class="font-weight-light mb-0">Employee</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<Footer></Footer>


@code {

}
