@page "/Employer";

<Navbar></Navbar>

<div class="slogan-candidate pb-5">
    <button id="goTopButton" class="goToTopButton"><i class="fas fa-arrow-circle-up text-white"></i></button>
    <div class="d-none d-md-flex h-100 flex-column justify-content-end padding-bottom-60 padding-left-50 text-uppercase">
        <div class="inner-slogan">
            <div>
                FIND FASTER AND EASIER SUITABLE CANDIDATES WITH SWI
            </div>
        </div>
    </div>
    <div class=" d-md-none p-5  d-flex justify-content-center text-uppercase">
        <div class="inner-slogan w-100 m-0">
            <div>
                FIND FASTER AND EASIER SUITABLE CANDIDATES WITH SWI
            </div>
        </div>
    </div>
</div>




<div class="my-5">
    <div class="container px-0">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 class="font-weight-boldest font-size-30pt blue-text-dark text-uppercase ">
                            Appear in the job market
                        </h4>
                        <p class="py-5  font-size-16pt">Always be present for candidates</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mx-5">
        <div class="col-md-3  col-sm-6 text-center">
            <img alt="" class="width-170" src="/Images/registerYourBusiness.png">
            <h4 class="card-heading-margin">Register your business</h4>
            <p class="text-left padding-left-right-50 font-size-12pt">
                Present your company and capture the open Put.
            </p>
        </div>
        <div class="col-md-3  col-sm-6 text-center">
            <img alt="" class="width-170" src="/Images/findCandidate.png">
            <h4 class="card-heading-margin">Find the candidate</h4>
            <p class="text-left padding-left-right-50 font-size-12pt">
                With our artificial one Intelligence can the
                appropriate ones Find candidates by yourself.
            </p>
        </div>
        <div class="col-md-3  col-sm-6 text-center">
            <img alt="" class="width-170" src="/Images/safeYourTime.png">
            <h4 class="card-heading-margin">Save your time</h4>
            <p class="text-left padding-left-right-50 font-size-12pt">
                After an application interview set your Desired candidate Save time and money.
            </p>
        </div>
    </div>

</div>


<div class="slogan1-candidate d-flex flex-column justify-content-between">
    <div class="row mx-0 Justify-content-end pr-lg-5">
        <div class="col-md-6 col-lg-4 pr-lg-5 pt-lg-5 ">
            <div class="inner-slogan">
                <div class="font-size-22">
                    Use our APP to post your vacancies create. Candidates get a glimpse of yours Corporate culture
                    and company philosophy. Show it, what opportunities for your applicants to develop are available
                    to them.
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-0 Justify-content-start margin-bottom-md-170 padding-left-20">
        <div class=" col-lg-1 "></div>
        <div class="col-md-8 col-lg-4 pr-lg-5 pt-lg-5">
            <div class="inner-slogan">
                <div class="font-size-22 ">
                    The Artificial Intelligence (AI) in our APP can Help you make decisions.
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row mx-0 text-center margin-top-m-5px ">
    <div class="col-md-6 col-12 py-3 px-0 first">
        <div class="row Justify-content-center ">
            <div class="col-md-12 p-5">
                <h4 class="font-weight-600 font-size-30pt">Why SWI</h4>
                <p class="pt-5 font-size-14pt font-weight-normal">
                    Optimize your search strategies. Find staff with our KI, our SWI APP offers modern recruiting.
                    You will automatically receive suitable applications from your preferred candidates. Search
                    specifically or spend your time on other tasks and have the suitable candidates sent to you by
                    email. Qualified and flexible candidates have positioned themselves. The human is the center of
                    attention. Always analyze your jobs with SWI. Check and compare the tasks and competencies in a
                    continuous process. Align your job, job description with the suitable candidates.
                </p>
                <p class="pt-5 font-size-14pt font-weight-normal">
                    Modern app techniques enable you to quickly select candidates. With the artificial intelligence
                    algorithm, you can see the right candidates for the job at a glance and you can establish a
                    connection with just a few clicks.
                </p>
                <p class="pt-5 font-size-14pt font-weight-normal">
                    We find the candidates you want, you concentrate on the selection and job interviews.

                </p>
            </div>
        </div>

    </div>


    <div class="col-md-6 col-12 col-xl-6 px-0 bg-white">

        <div class="row Justify-content-center padding-top-150">
            <div class="col-md-12 text-center">
                <div class="mb-5 pb-5 primary-text font-size-30pt font-weight-600">
                    Our AI shows you suitable candidates.
                </div>
            </div>
            <div class="col-md-12   pb-md-0 pb-4">
                <div class="">
                    <img class="w-80" src="/Images/comparison.png">
                </div>
            </div>
        </div>

        <div class="row justify-content-center button-div mx-0">
            <div class="col-8 col-xl-5">
                <a class=" btn btn-default d-block py-4" [routerLink]="['/users/register']">
                    <span class="text-white font-weight-500 font-size-18pt">REGISTER NOW</span>
                </a>
            </div>
        </div>

    </div>
</div>


<div class="blue-banner text-white d-flex flex-column justify-content-center ">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row justify-content-around text-center  py-md-3 py-lg-5 py-80">
                    <div class="col-md-3  my-4 mb-md-0">
                        <h4 class="mb-2 font-weight-normal">21568</h4>
                        <h4 class="font-weight-light mb-0">Jobs Posted</h4>
                    </div>
                    <div class="col-md-3  my-4 mb-md-0">
                        <h4 class="mb-2 font-weight-normal">10214</h4>
                        <h4 class="font-weight-light mb-0">Companies</h4>
                    </div>
                    <div class="col-md-3  my-4 mb-md-0">
                        <h4 class="mb-2 font-weight-normal">3502</h4>
                        <h4 class="font-weight-light mb-0">Employee</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<Footer></Footer>


@code {

}
