
@page "/";
@page "/Home";

<Navbar></Navbar>


<div class="main">
    <div class="hv-sm-100">
        <button class="goToTopButton" id="goTopButton"><i class="fas fa-arrow-circle-up text-white"></i></button>
        <div class="banner">
            <div class="mini-container">
                <div class="row py-101 justify-content-center">
                    <div class="col-md-6 heading">
                        <h2>
                            WHERE BIG THINGS ARE <br />
                            SUPPOSED TO ARISE, WE CONNECT
                        </h2>
                        <div class="text-white my-3 my-md-4 font-size-16pt">
                            SWI is the meeting point for employees and employers. With numerous options, you can
                            find job offers and new employees <br />
                            GET STARTED NOW!
                        </div>
                        <a [routerLink]="'/users/register'" class="btn download-btn">Register Now</a>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4 col-8 text-center">
                        <div class="effect-3">
                            <div class="effect-img">
                                <img alt="" class="circle-bot"
                                     src="/Images/female-female-3_sign_left.gif" />
                            </div>
                            <div class="effect-text">
                                <h2>Hello! I am Swila</h2>
                                <p class="mt-3">Welcome to our Community</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mini-container padding-y-170">
        <div class="row justify-content-center align-items-center ">
            <div class="col-md-12 text-center">
                <h4 class="font-weight-boldest font-size-30pt blue-text-dark text-uppercase padding-bottom-120">
                    The Job Platform With Heart
                </h4>
            </div>
            <div class="col-md-6">
                <p class="text-justify px-5 font-size-14pt mb-4">
                    Appear on the job market and fill your vacancies with little effort. Find the candidate you
                    deserve and fit your
                    company.

                </p>
                <p class="text-justify px-5 font-size-14pt mb-4">
                    SWI APP supports you in recruiting suitable candidates. Save time and effort searching for
                    candidates.

                </p>
                <p class="text-justify px-5 font-size-14pt mb-4">
                    Finding suitable candidates for your position shouldn't be a full-time job. The simple and
                    powerful tools from SWI make
                    sourcing, screening and recruiting easier for you.

                </p>
            </div>
            <div class="col-md-6 text-center ">
                <img alt="" class="w-100" src="/Images/swi_heart.jpg">
            </div>
        </div>
    </div>

    <div class="container-fluid max-width-2500">
        <div class="row">
            <div class="col-md-6 bg-blue1 p-3 p-lg-5">
                <div class="w-75 mx-auto">
                    <div class="text-white text-center text-uppercase font-size-22pt font-weight-500">
                        OUR CHARITY FUNCTION
                    </div>
                    <div class="text-white py-3 py-md-4 fw-400 w-90 font-size-14pt text-justify">
                        SWI would like to make it easier for people with disabilities to find their way into the
                        world of work, ensure equal
                        opportunities in the market and offer better prospects for the future. That is why the SWI
                        products are free of charge
                        for people who need support. In order to motivate companies to give everyone the same
                        opportunities, we will also give
                        employers a hand and offer certain services free of charge. In addition, the SWI supports
                        several charity projects.
                        These are financed by the subscription fees. For each advertisement that is published, a
                        part is passed on to the
                        projects. So everyone will contribute a small part to the environment through their own
                        work. SWI is proud of its vision
                        that companies, finances, business and non-profit can enter into a symbiosis together. All
                        of this takes place under the
                        strong belief that each individual has a responsibility to give something back to the world.
                        We are committed to being
                        part of this movement and giving a percentage to various non-profit organizations. SWI helps
                        at various locations in the
                        form of donations in kind or financial means. The supporting regions are selected depending
                        on the project and
                        implemented and controlled by SWI.
                    </div>
                </div>
            </div>
            <div class="col-md-6 py-3 text-center d-flex align-items-center">
                <div class="robot pl-md-5 padding-top-50 padding-bottom-50">
                    <div>
                        <img alt="" class="w-100" src="/Images/swi_frontpage_hand.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row reverse">
            <div class="col-md-6 bg-blue2 p-3 p-lg-5">
                <div class="w-75 mx-auto">
                    <div class="text-white text-center text-uppercase font-size-22pt font-weight-500">
                        YOUR ADVANTAGES
                    </div>
                    <div class="text-white py-3 py-md-4 fw-400 font-size-14pt text-justify">
                        If you as an employer pull in the same direction as us and your new employee has a
                        disability, you don't pay anything
                        for our service. In this case, the SWI bears the costs for the advertisement itself. We will
                        also pay a fee to the SWI
                        Charity Projects out of pocket! Either way you are a winner and give a part to your
                        environment and fellow human beings.
                        And that's how it works!
                    </div>
                </div>
            </div>
            <div class="col-md-6 py-3 text-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="robot pr-md-5 padding-top-50 padding-bottom-50">
                            <div>
                                <img alt="" class="sm-100" src="/Images/swila_charity.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="robot pr-md-5 padding-top-50 padding-bottom-50">
                            <div>
                                <img alt="" class="sm-100" src="/Images/swily_charity.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-grey">
        <div class="screen-shot mx-auto padding-y-100">
            <div class="margin-bottom-100 primary-text-color text-center font-size-30pt font-weight-boldest ">
                App Screenshot
            </div>
            <div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carouselExampleIndicators"></li>
                    <li data-slide-to="1" data-target="#carouselExampleIndicators"></li>
                    <li data-slide-to="2" data-target="#carouselExampleIndicators"></li>

                </ol>
                <div class="carousel-inner width-75 mx-auto">
                    <div class="carousel-item active">
                        <img alt="First slide" class="d-block w-100" src="/Images/app_screenshot_5.png" />
                    </div>
                    <div class="carousel-item">
                        <img alt="Second slide" class="d-block w-100" src="/Images/app_screenshot_2.jpg" />
                    </div>

                    <div class="carousel-item">
                        <img alt="Third slide" class="d-block w-100" src="/Images/app_screenshot_4.jpg" />
                    </div>
                </div>
                <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
                    <i class="fas fa-angle-double-left carousel-arrows"></i>
                </a>
                <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
                    <i class="fas fa-angle-double-right carousel-arrows"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row mx-0 Justify-content-center">
        <div class="col-lg-7 col-md-6">
            <div class="font-size-30pt font-weight-boldest primary-text-color text-center py-xl-5 py-lg-5 py-md-3 padding-bottom-40">
                WE HAVE EVEN MORE TO OFFER
            </div>
            <div class="offer">
                <ul>
                    <li>
                        <div class="d-flex align-items-center">
                            <div class="icon-box mr-3">
                                <i class="far fa-file-alt font-size-47 text-white"></i>
                            </div>
                            <div class="text-dark f-10 font-size-r-14pt">Job Management</div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex align-items-center">
                            <div class="icon-box mr-3">
                                <img alt="" src="/Images/dashboard_Kopie.png" />
                            </div>
                            <div class="text-dark f-10 font-size-r-14pt">Short Jobs</div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex align-items-center">
                            <div class="icon-box mr-3">
                                <img alt="" src="/Images/outtasking.png" />
                            </div>
                            <div class="text-dark f-10 font-size-r-14pt">
                                Application Management
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex align-items-center">
                            <div class="icon-box mr-3">
                                <img alt="" src="/Images/everything_app.png" />
                            </div>
                            <div class="text-dark f-10 font-size-r-14pt">
                                Automated Candidate Search
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex align-items-center">
                            <div class="icon-box mr-3">
                                <img alt="" src="/Images/smart_connector.png" />
                            </div>
                            <div class="text-dark f-10 font-size-r-14pt mr-3">
                                Smart Connector
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex align-items-center">
                            <div class="icon-box mr-3">
                                <img alt="" src="/Images/smart.png" />
                            </div>
                            <div class="text-dark f-10 font-size-r-14pt"> Outtasking Service for Simple Work</div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex align-items-center">
                            <div class="icon-box mr-3">
                                <img alt="" src="/Images/social_connector.png" />
                            </div>
                            <div class="text-dark f-10 font-size-r-14pt">
                                Social Connector
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex align-items-center">
                            <div class="icon-box mr-3">
                                <img alt="" src="/Images/everything_app.png" />
                            </div>
                            <div class="text-dark f-10 font-size-r-14pt">
                                Everything on a APP
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 bg-blue2 py-5 px-4 text-center d-flex align-items-center justify-content-center">
            <img alt="" class="w-90" src="/Images/feature-img.jpg" />
        </div>
    </div>


    <div class="padding-y-100">
        <h2 class="mb-2 primary-text-color text-center font-size-30pt font-weight-boldest ">
            VISION
        </h2>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="m-5">
                <div class="card min-height-450px" style="width: 18rem;">
                    <img class="card-img-top" src="/Images/henry.jpg" alt="Card image cap" width="800"
                         height="300">
                    <div class="card-body">
                        <h5 class="card-title">Henry Ford</h5>
                        <p class="card-text">
                            Coming together is a beginning, keeping together
                            is progress, working together is success
                        </p>
                    </div>
                </div>
            </div>
            <div class="m-5">
                <div class="card min-height-450px" style="width: 18rem;">
                    <img class="card-img-top" src="/Images/steven.jpg" alt="Card image cap" width="800"
                         height="300">
                    <div class="card-body">
                        <h5 class="card-title">Steve Jobs</h5>
                        <p class="card-text">
                            If today is your last day, would you do the same thing you plan to do
                            today?
                        </p>
                    </div>
                </div>
            </div>
            <div class="m-5">
                <div class="card min-height-450px" style="width: 18rem;">
                    <img class="card-img-top" src="/Images/stephen.png" alt="Card image cap" width="800"
                         height="300">
                    <div class="card-body">
                        <h5 class="card-title">Stehpen Hawking</h5>
                        <p class="card-text">Intelligence is the ability to adapt to change</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slogan d-flex flex-column justify-content-end">
        <div class="d-none d-md-flex justify-content-end padding-right-150">
            <div class="inner-slogan text-center font-size-18pt text-uppercase">
                WHERE BIG THINGS ARE SUPPOSED TO ARISE <br />
                WE CONNECT
            </div>
        </div>
        <div class="d-md-none d-flex justify-content-center ">
            <div class="inner-slogan text-center font-size-18pt text-uppercase">
                WHERE BIG THINGS ARE SUPPOSED TO ARISE <br />
                WE CONNECT
            </div>
        </div>
    </div>

    <div class="blue-banner text-white d-flex flex-column justify-content-center">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row justify-content-around text-center  py-md-3 py-lg-5 py-80">
                        <div class="col-md-3  my-4 mb-md-0">
                            <h4 class="mb-2 font-weight-normal">21568</h4>
                            <h4 class="font-weight-light mb-0">Jobs Posted</h4>
                        </div>
                        <div class="col-md-3  my-4 mb-md-0">
                            <h4 class="mb-2 font-weight-normal">10214</h4>
                            <h4 class="font-weight-light mb-0">Companies</h4>
                        </div>
                        <div class="col-md-3  my-4 mb-md-0">
                            <h4 class="mb-2 font-weight-normal">3502</h4>
                            <h4 class="font-weight-light mb-0">Employee</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<Footer></Footer>


@code {

}
