.bg-blue3 {
  padding: 1.5rem;
  transition: transform ease 0.3s;
}

.comma img {
  height: 30px;
  transition: transform ease 0.3s;
}
.background-image-banner
{
  background: url('../Images/main-page.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner {
  /* background-image: linear-gradient(-63deg, #008fdc 0%, #0f4e9c 100%); */
  background: url('../Images/main-page.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: cover;
  height: 100%;
  width: 100%;
}

.heading {
  padding-top: 20px;
}

.heading h2 {
  letter-spacing: 0.78px;
  font-size: 28pt;
  color: white;
}

.heading .text-white {
  font-size: 19px;
  width: 85%;
  text-align: left;
  line-height: 41px;
  font-weight: normal;
}

.employee-card {
  width: 100%;
  height: 220px;
  background-color: #008fdc;
  text-align: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-around {
  justify-content: space-around;
  position: relative;
  top: -125px;
}

.py-100 {
  padding: 100px 0 200px 0;
}

@media (min-width: 760px) {
  .hv-sm-100 {
    height: calc(100vh - 14em);
  }
}

.margin-top-60 {
  margin-top: 60px;
}

.employee-card .employee-img {
  height: 128px;
  width: 165px;
  display: inline-block;
  margin-bottom: 10px;
  mix-blend-mode: luminosity;
}

.employee-card .employee-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.employee-card .text-white {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.6px;
}

.feature-card {
  background-image: url(../Images/Ebene_11_Kopie_2.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.feature-card .heading1 {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.feature-card .text-white {
  text-align: center;
  letter-spacing: 0.38px;
  font-size: 14px;
  font-weight: 400;
}

.feature-card .employee-img {
  height: 86px;
  width: 86px;
  display: inline-block;
  margin-bottom: 10px;
}

.feature-card .employee-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.h-80 {
  height: 380px;
  margin-bottom: 40px;
}

.bg-blue {
  background-color: #008fdc;
  background-image: linear-gradient(-63deg, #008fdc 0%, #0f4e9c 100%);
  padding: 150px 0 150px 100px;
}

.robot {
  /* width: 40%; */
  display: inline-block;
}

.robot img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.w-90 {
  width: 90%;
}

.offer ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin: 0 auto;
}

.offer ul li {
  list-style-type: none;
  width: 50%;
  margin-bottom: 40px;
}

.offer ul li .icon-box {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background: #008fdc;
  text-align: center;
  padding: 15px;
}

.offer ul li .icon-box img {
  height: 100%;
  width: 50px;
  object-fit: contain;
}

.py-101 {
  padding: 125px 0 180px 0;
}

.sm-reverse {
  flex-direction: inherit;
}

.lh-30 {
  line-height: 30px;
}

.circle-bot {
  /* width:85%; */
  width: 35vh;
}

.mini-container {
  max-width: 1170px;
}

@media (min-width: 1700px) {
  .xxl-70 {
    flex: 0 0 80% !important;
    max-width: 80% !important;
  }
}

@media (min-width: 2000px) {
  .xxl-70 {
    flex: 0 0 70% !important;
    max-width: 70% !important;
  }
}

@media (min-width: 2400px) {
  .xxl-70 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media (min-width: 3400px) {
  .xxl-70 {
    flex: 0 0 45% !important;
    max-width: 45% !important;
  }
}

@media (max-width: 998px) {
  .py-101 {
    padding: 30px 0;
  }

  .heading h2 {
    font-size: 1.8rem;
  }

  .heading .text-white {
    font-size: 13px;
    width: 85%;
    line-height: 1.5;
  }

  .bg-blue {
    padding: 50px 0 50px 30px;
  }

  .offer ul li .icon-box {
    height: 45px;
    width: 45px;
    padding: 8px;
  }

  .lh-30 {
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  
  .py-101 {
    padding: 30px 0;
  }

  .heading h2 {
    font-size: 1.8rem;
  }

  .heading .text-white {
    font-size: 13px;
    width: 85%;
    line-height: 1.5;
  }

  .bg-blue {
    padding: 50px 0 50px 30px;
  }

  .sm-reverse {
    flex-direction: column-reverse;
  }

  .news-letter {
    height: 400px;
    padding: 30px 0;
  }

  .offer ul li .icon-box {
    height: 70px;
    width: 70px;
    padding: 8px;
  }
}

.screen-shot {
  height: 80%;
  width: 80%;
}

.carousel-arrows {
  font-size: 6em;
  color: #008fdc;
}



/*  CAROUSEL  */

.card {
  box-shadow: 0px 4px 8px 0px #BDBDBD
}

.card-bg {
  background-color: #008fdc !important;
}

.profile-pic {
  width: 175px !important;
  height: 175px;
  box-shadow: 0px 4px 8px 0px #BDBDBD
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: #1E88E5 !important;
  border: none;
  padding: 5px 20px !important;
  font-size: 65px !important;
}


.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  color: #0D47A1 !important;
  background-color: transparent !important
}


button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

.item {
  display: none
}

.next {
  display: block !important;
  position: relative;
  transform: scale(0.8);
  transition-duration: 0.3s;
  opacity: 0.6
}

.prev {
  display: block !important;
  position: relative;
  transform: scale(0.8);
  transition-duration: 0.3s;
  opacity: 0.6
}

.item.show {
  display: block;
  transition-duration: 0.4s
}

@media screen and (max-width: 999px) {

  .next,
  .prev {
    transform: scale(1);
    opacity: 1
  }

  .item {
    display: block !important
  }
}



.swi-overlay-container-aboutUs {
  position: relative;
  width: 100%;
}

.swi-image-for-overlay-aboutUs {
  display: block;
  width: 100%;
  height: auto;
}

.swi-overlay-aboutUs {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0,143,220,0.3) !important;
  overflow: hidden;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 50% !important;
}

.swi-overlay-container-aboutUs:hover .swi-overlay-aboutUs {
  bottom: 0;
  height: 100%;
  opacity: 1;
}

.swi-overlay-text-aboutUs {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.effect-3 {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.effect-3 .effect-img {
  font-size: 0;
  overflow: hidden;
}

.effect-3 .effect-img img {
  width: 100%;
  height: auto;
  transition: .3s;
}

.effect-3:hover .effect-img img {
  transform: scale(1.2);
}

.effect-3 .effect-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  background: rgba(0,143,220,0.8) !important;
  transition: .5s;
  transform: scale(0);
  opacity: 0;
}

.effect-3:hover .effect-text {
  transform: scale(1);
  opacity: 1;
}

.effect-3 .effect-text h2 {
  height: 45px;
  color: #ffffff;
  font-size: 25px;
  margin: 0;
}

.effect-3 .effect-text p {
  color: #ffffff;
  font-size: 16px;
  margin: 0 0 20px 0;
}

.effect-3 .effect-btn .btn {
  display: inline-block;
  height: 35px;
  padding: 7px 15px;
  color: #333333;
  background: #ffffff;
  text-decoration: none;
}

  .blue-banner {
    background-color: #008fdc;
    height: 350px;
  }

  .padding-y-100
  {
      padding-top: 100px;
      padding-bottom: 100px;
  }
  .min-height-450px
  {
      min-height: 450px !important;
  }