
@page "/AppliedJobs"

<Navbar></Navbar>

<div class="row height-100vh">

    <CandidateDashboard></CandidateDashboard>

    <div class="col-md-9 p-2">
        <div class="search-job-section p-5">

            <div class="jobs-list mt-4 p-5 border rounded  ">
                <h1 class="text-center font-weight-bold">Applied JOBS</h1>

                <div class="job-item p-4 my-4 border rounded ">
                    <div class="d-flex justify-content-between">
                        <h4>React Developer</h4>
                        <div>
                            <strong>Status:</strong>&nbsp; Called For Interviw
                        </div>
                    </div>
                    <div class="text-muted mb-3">
                        <strong>
                            Dany Technologies, Lahore, Pakistan
                        </strong>
                    </div>
                    <p class="text-muted">
                        As a React Native App Software Developer, you will develop applications that users
                        use to connect and interact. Our products require processing vast amounts of information and
                        interaction with our core systems.... (Showing fist 200 character)
                    </p>
                    <div class="d-flex flex-wrap text-muted">
                        <div class="mr-4"><i class="far fa-calendar-alt"></i>&nbsp; June-05,2000</div>
                        <div class="mr-4"><i class="fas fa-money-bill-wave"></i>&nbsp; 30,000</div>
                        <div class="mr-3"> <i class="fas fa-map-marker-alt"></i>&nbsp; Johar Town Lahore, Pakistan</div>
                    </div>
                </div>

                <div class="job-item p-4 my-4 border rounded ">
                    <div class="d-flex justify-content-between">
                        <h4>React Developer</h4>
                        <div>
                            <strong>Status:</strong>&nbsp; Under Review
                        </div>
                    </div>
                    <div class="text-muted mb-3">
                        <strong>
                            Dany Technologies, Lahore, Pakistan
                        </strong>
                    </div>
                    <p class="text-muted">
                        As a React Native App Software Developer, you will develop applications that users
                        use to connect and interact. Our products require processing vast amounts of information and
                        interaction with our core systems.... (Showing fist 200 character)
                    </p>
                    <div class="d-flex flex-wrap text-muted">
                        <div class="mr-4"><i class="far fa-calendar-alt"></i>&nbsp; June-05,2000</div>
                        <div class="mr-4"><i class="fas fa-money-bill-wave"></i>&nbsp; 30,000</div>
                        <div class="mr-3"> <i class="fas fa-map-marker-alt"></i>&nbsp; Johar Town Lahore, Pakistan</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
