@page "/PostedJobs"

<Navbar></Navbar>

<div class="row height-100vh">

    <EmployerDashboard></EmployerDashboard>

    <div class="col-md-9 p-2">
        <h2 class="text-center mb-5 bg-blue2 text-white p-3">Posted Jobs</h2>
        <div class="container">
            <div class="mb-5">
                <div class="mx-auto border shadow-lg">
                    <div class="p-5">
                        <p>Recruitment Started: 01/06/2021</p>
                        <hr />
                        <h3><a class="text-decoration-none">Senior Software Engineer</a></h3>
                        <p>
                            Serve as a technical lead contributing to and directing the efforts of development
                            teams, including internal and
                            external team members.
                            Contribute to the ongoing evolution of the existing content supply portfolio of
                            applications and services.
                            Design, develop, modify, implement, and support software components anywhere in the
                            software stack.
                            Determine root cause for the most complex software issues and develop practical,
                            efficient, and permanent technical
                            solutions.
                        </p>
                        <div class="text-right">
                            <button class="btn btn-outline-danger">Delete Job</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@code {

}
